{% extends "layout.twig" %}
{% block content %}

{% include 'includes/header.twig' %}

<div class="bk-pt-default">
	<div role="main">
		<div class="container">
			{{zone('main')|raw}}
		</div><!--end container-->
	</div><!--end main-->
</div>

{% include 'includes/footer.twig' %}

{% endblock %}
